CompileFlags:
  Remove: ["-std=c++*", "-xc++*", "-xobjective-c++*", "-x", "c++*"]
  Add: ["-std=c11", "-Iinclude"]

If: '.*\.c$'
CompileFlags:
  Add: ["-xc"]

If: '.*\.h$'
CompileFlags:
  Add: ["-xc-header"]
